//Cores da aplicação:
$corPrimaria: #013531;
$corSecundaria: #e7ba77;
$corTerciaria: #fff;

//Modificações globais:
a{text-decoration: none;}
.title{font-size: 22px;
    color: $corPrimaria;
}
li{list-style-type: none;}
.titulo{font-size: 23px; font-weight: bold;}

//conteudo do painel:
.conteudo-painel{
    .aside{transition: width 300ms;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 180;
        width: 245px;
        overflow-y: scroll;
        height: 100%;
        background-color: $corPrimaria;
        color: $corSecundaria;
        .logo-painel{margin-top: 15px;
            text-align: center;
            .link-logo-painel{
                .logo-painel-img{
                    max-width: 200px;
                    height: 80px;
                    text-align: center;
                    background-repeat: no-repeat;
                }
            }
        }
        .dashboard-painel{
            .dashboard-sidebar{
                .link-item{
                    margin-top: 10px;
                    .dashboard-links{color: $corSecundaria;
                        i{margin-right: 8px;}
                    }
                    .dashboard-links:hover{transition: .2s;color: $corTerciaria;}
                }
                .separa-link{padding-bottom: 1px;
                    border-bottom: 1px solid $corSecundaria;
                }
            }
        }    
    }
    //mobile aside:
    .main-content{margin-left: 245px;
        transition: margin-left 300ms;
        .mobile-painel{box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
            padding-bottom: 5px;
            position: fixed;
            background-color: $corPrimaria;
            //border-left: 3px solid $corTerciaria;
            width: calc(100% - 245px);
            transition: left 300ms;
            top: 0;
            z-index: 150;
            .icone-mobile{
                margin-left: 18px;
                color: $corSecundaria;
                .pointer-icone{cursor: pointer;
                    i{margin-right: 8px;}
                } 
            }.icone-mobile:hover{color: $corTerciaria;transition: .3s;}
            .user-profile{height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-left: 15px;
            }
            .name-user{color: $corTerciaria;}
            .logout-link{color: red;font-weight: bold;
            }.logout-link:hover{
                color: rgb(206, 11, 11);transition: .4s;  
            }
        } 
        .principal-painel{
            margin-top: 50px;
            padding: 2em 1.5em;
            min-height: calc(100vh - 50px);
        } 
    }
    //toggle mobile:
    .logo-toggle{
        .logo-link-toggle{
            .toggle-img{display: none;}
        }
    }
    #nav-toggle:checked + .aside{
        width: 80px;
        text-align: center;
        overflow: hidden;
    }
    #nav-toggle:checked + .aside .toggle-img{display: block;
    width: 30px;
    height: 30px;margin: 10px auto;}
    #nav-toggle:checked + .aside .logo-painel .link-logo-painel:last-child,
    #nav-toggle:checked + .aside li a :last-child,
    #nav-toggle:checked + .aside .aside-direitos,
    #nav-toggle:checked + .aside hr{
       display: none;
    }
    #nav-toggle:checked + .aside .dashboard-painel .dashboard-sidebar 
    .link-item .dashboard-links i{
        margin-right: 28px;
    }
    #nav-toggle:checked ~ .main-content{
        margin-left: 80px;
    }
    #nav-toggle:checked ~ .main-content .mobile-painel{
        width: calc(100% - 80px);
        left: 80px;
    }
    #nav-toggle{
        display: none;
    }
    //fim mobile
}

//Estilo index:
.bg-table{border-radius: 15px 15px 0 0;
    tr,td{font-size: 17px;}
}

//Estilo usuarios_edit:
.header-usuarios{
    .titulo-usuarios{
        h2{font-size: 21px;}
    }
    .buscar-usuarios{
        .busca{outline: 0;
            height: 40px;
            width: 170px;
            border-radius: 5px;
            padding-left: 7px;
            border: 1px solid #ccc;
        }
        button{height: 39px;
            width: 150px;
            border-radius: 5px;
            background-color: #013531;
            color: $corSecundaria;
            text-align: center;
        }button:hover{color: $corTerciaria;background-color: $corSecundaria;transition: .5s;}
    }
}
//Ranking edit:
.input-pontua{width: 100px;height: 35px;
    padding-left: 7px;
    border: 1px solid #ccc;}
.btn-pontua{width: 100px;font-size: 16px;}

//Depoimento:
.form-depoimento{
    .text-depoimento{padding-left: 8px !important;}
}
.cadastrado, .invalido-central{position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    font-weight: lighter;
    font-size: 20px;
}
.cadastrado{background-color: #1e9c5b;
    color: $corTerciaria;
}
.invalido-central{background-color: rgb(145, 10, 10);
    color: $corTerciaria;
}
.invalido{padding: 5px;
    text-align: center;
    color: rgb(145, 10, 10);
    background-color: $corTerciaria;
    border-radius: 5px;
}

//Responsivo painel aside e header:
@media only screen and (max-width: 1200px){
    .conteudo-painel .aside{width: 80px;}
    .conteudo-painel .aside .logo-painel 
    .logo-toggle .toggle-img{display: block;
        width: 30px;
        height: 30px;
        margin: 10px auto;
    }
    .aside .logo-painel .link-logo-painel:last-child,
    .aside li a :last-child,
    .aside .aside-direitos, .aside hr{
       display: none;
    }
    //.aside:hover{width: 345px;z-index: 110;}

    .aside:hover{width: 245px;
        z-index: 200;
        .logo-painel .logo-toggle .toggle-img{display: none;}
        .logo-painel .link-logo-painel:last-child,
        li a :last-child, .aside-direitos{
            display: inline-block;
        }
    }

    #nav-toggle:checked + .aside hr,
    .aside:hover hr{
        display: block;
    }
    .aside .dashboard-painel .dashboard-sidebar 
    .link-item .dashboard-links i{
        margin-right: 18px;
    }
    .main-content{
        margin-left: 80px;
    }
    .conteudo-painel .main-content .mobile-painel{
        width: calc(100% - 80px);
        right: 0;
    }
    
}

@media only screen and (max-width: 768px){
    .conteudo-painel .aside{
        left: -100%;
    }
    .conteudo-painel .main-content{
        width: 100%;
        margin-left: 0rem;
        .mobile-painel{
            width: 100% !important;
            left: 0 !important;
        }
    }
    #nav-toggle:checked + .aside{
        left: 0 !important;
        z-index: 300;
        width: 245px;
        .logo-painel .logo-toggle .toggle-img{display: none;}
        .logo-painel .link-logo-painel:last-child,
        li a :last-child, .aside-direitos{
            display: inline;
        }
    }
    #nav-toggle:checked + .main-content{
        margin-left: 0rem !important;
    }
}